#### Combine the data ( Text + Sentiment score ) from All the APIS ( Amazon , Google ,IBM) in a single dataframe and download the json format in the local drive for further processing

In [ ]:
import pandas as pd
import json

In [2]:
with open('D:\AI Assignments\Assignment3\JSON_Files\combine_json.json',encoding="utf8") as file:
            df_original = pd.DataFrame(json.load(file))

In [3]:
df_original.head()

     sentiment                                               text
0      Neutral                                Tesla, Inc (NASDAQ:
1      Neutral                               Company Participants
10     Neutral               Pierre Ferragu - New Street Research
100   Negative  Well, first of all, obviously on account of te...
1000   Neutral  Our digital sales grew 42% in the first quarte...

In [4]:
df_original = df_original.rename(columns={"sentiment": "Original_sentiment"})

In [5]:
df_original.head()

     Original_sentiment                                               text
0               Neutral                                Tesla, Inc (NASDAQ:
1               Neutral                               Company Participants
10              Neutral               Pierre Ferragu - New Street Research
100            Negative  Well, first of all, obviously on account of te...
1000            Neutral  Our digital sales grew 42% in the first quarte...

In [6]:
df_amazon = pd.read_csv('D:\\AI Assignments\\Assignment3\\Part3\\AmazonAPI.csv')
df_amazon = df_amazon.drop(columns = ['Unnamed: 0'])    
df_amazon.head()

,text,Amazon_Sentiment,Amazon_Positive,Amazon_Negative,Amazon_Neutral
0,"Tesla, Inc (NASDAQ:",NEUTRAL,0.015811,0.008352,0.974176
1,Company Participants,NEUTRAL,0.015645,0.004705,0.977986
2,Pierre Ferragu - New Street Research,NEUTRAL,0.009226,0.011156,0.977927
3,"Well, first of all, obviously on account of te...",NEUTRAL,0.170260,0.092181,0.662109
4,Our digital sales grew 42% in the first quarte...,NEUTRAL,0.034125,0.003239,0.961494

In [7]:
df_amazon.count()

text                1412
Amazon_Sentiment    1411
Amazon_Positive     1411
Amazon_Negative     1411
Amazon_Neutral      1411
dtype: int64

In [8]:
df_google = pd.read_csv('D:\\AI Assignments\\Assignment3\\Part3\\GoogleAPI.csv')
df_google = df_google.drop(columns = ['Unnamed: 0'])    
df_google.head()

                                                text  Google_Score
0                                Tesla, Inc (NASDAQ:           0.0
1                               Company Participants           0.0
2               Pierre Ferragu - New Street Research           0.2
3  Well, first of all, obviously on account of te...           0.1
4  Our digital sales grew 42% in the first quarte...           0.0

In [9]:
df_google.count()

text            1232
Google_Score    1232
dtype: int64

In [10]:
df_ibm = pd.read_csv('D:\\AI Assignments\\Assignment3\\Part3\\IBMWatsonAPI.csv')
df_ibm = df_ibm.drop(columns = ['Unnamed: 0'])    
df_ibm.head()

                                                text  IBM_score IBM_Sentiment
0                                Tesla, Inc (NASDAQ:   0.000000       neutral
1                               Company Participants   0.000000       neutral
2               Pierre Ferragu - New Street Research   0.000000       neutral
3  Well, first of all, obviously on account of te...   0.700764      positive
4  Our digital sales grew 42% in the first quarte...   0.287108      positive

In [11]:
df_ibm.count()

text             1232
IBM_score        1232
IBM_Sentiment    1232
dtype: int64

In [12]:
df_original.count()

Original_sentiment    1232
text                  1232
dtype: int64

In [14]:
df_final = pd.concat([df_amazon['Amazon_Positive'],
                      df_amazon['Amazon_Negative'],
                      df_amazon['Amazon_Neutral'],
                      df_amazon['Amazon_Sentiment'],
                      df_google['Google_Score'],
                      df_ibm['IBM_score'],
                      df_ibm['IBM_Sentiment']],
                       axis=1)

In [15]:
df_final.head()

,Amazon_Positive,Amazon_Negative,Amazon_Neutral,Amazon_Sentiment,Google_Score,IBM_score,IBM_Sentiment
0,0.015811,0.008352,0.974176,NEUTRAL,0.0,0.000000,neutral
1,0.015645,0.004705,0.977986,NEUTRAL,0.0,0.000000,neutral
2,0.009226,0.011156,0.977927,NEUTRAL,0.2,0.000000,neutral
3,0.170260,0.092181,0.662109,NEUTRAL,0.1,0.700764,positive
4,0.034125,0.003239,0.961494,NEUTRAL,0.0,0.287108,positive

In [16]:
df_final.to_json('D:\\AI Assignments\\Assignment3\\Part3\\final_json.json')