### Sentiment Score using IBM Watson API

In [ ]:
import pandas as pd
import json
from pandas import DataFrame
import json
from ibm_watson import NaturalLanguageUnderstandingV1
from ibm_watson.natural_language_understanding_v1 import Features, SentimentOptions

#### Upload the web scrapped data json file from your directory to test the sentiment of each sentence with IBM  API

In [9]:
with open('D:\\AI Assignments\\Assignment3\\JSON_Files\\noscore_json.json', 'r') as file:
    df = pd.DataFrame(json.load(file))

In [10]:
df.head()

                                                   text
0                                   Tesla, Inc (NASDAQ:
1                                  Company Participants
10                 Pierre Ferragu - New Street Research
100   Well, first of all, obviously on account of te...
1000  Our digital sales grew 42% in the first quarte...

#### The Access Keys are entered to get the access to IBM Watson Sentiment Detector API

In [67]:
service = NaturalLanguageUnderstandingV1(
    version='2019-07-12',
    iam_apikey='GF9jvUznqLEK8HdPrI9KGBwOjEcGHBDFEmnB7_OVPjnA',
    url='https://gateway.watsonplatform.net/natural-language-understanding/api')

In [70]:
a = df['text'][10]
a

'Kroger is creating a virtuous cycle built upon the rich collection of proprietary data generated from our customer traffic to improve the customer experience which then supports new margin-rich asset-light businesses. We expect Alternative profit streams to continue to grow and contribute an estimated incremental $100 million in net operating profit in 2019 and continue to accelerate into 2020. This will be generated primarily from the more mature Alternative profit streams such as Kroger Personal Finance, our media businesses, and customer data insights.'

#### Call the analyze  API of IBM and pass the sentences to check the score and Sentiment .
#### Score determines the amount of sentiment of a sentince

In [89]:
dtext = []
Sentiment = []
Positive_score = [] 
Negative_score = [] 
Neutral_score = [] 
IBM_score = []

for i in range(0, len(df)):
    dtext.append(df['text'][i])
    response = service.analyze(text=df['text'][i],
                               features=Features(sentiment=SentimentOptions()),
                                language='en')
    Sentiment.append(response.result['sentiment']['document']['label'])
    
    score = response.result['sentiment']['document']['score']
    IBM_score.append(score)
    

    sentimentscore_df = DataFrame({'text': dtext,
                                   'IBM_score' :  IBM_score,
                                    'IBM_Sentiment' : Sentiment})

In [90]:
sentimentscore_df.head()

                                                text  IBM_score IBM_Sentiment
0                                Tesla, Inc (NASDAQ:   0.000000       neutral
1                               Company Participants   0.000000       neutral
2               Pierre Ferragu - New Street Research   0.000000       neutral
3  Well, first of all, obviously on account of te...   0.700764      positive
4  Our digital sales grew 42% in the first quarte...   0.287108      positive

#### Download the json file in the directory

In [91]:
sentimentscore_df.to_csv('D:\\AI Assignments\\Assignment3\\Part3\\IBMWatsonAPI.csv')